<template>
  <div>
    <div v-show="questions.length !== 0" class="p-4 bg-white rounded  ">
      <div v-html="quiz"></div>
      <button @click="saveQuiz" class="bg-blue-400 p-4 mt-4 text-white">Save Quiz</button>
    </div>
    <div class="flex justify-center items-center m-8 rounded"
         :class="{ 'h-36 border-dashed border-4 border-light-blue-500' : !isAddingInput }"
    >
      <div v-show="!isAddingInput" >
        <button @click="!isAddingInput ? setIsAddingInput(true): null">
          <i class="fas fa-plus-circle text-4xl text-white hover:text-blue-500 duration-500 cursor-pointer"></i>
        </button>
      </div>
      <div v-show="isAddingInput" class="w-full h-full bg-blue-200 relative rounded p-2">
        <button @click="setIsAddingInput(false)" class="btn-close"></button>
        <input-form v-on:question-added="addQuestion"></input-form>
      </div>
    </div>
  </div>
</template>

<script>
import InputForm from './input-form'
import axios from "axios";
export default {
  name: "add-input",
  data(){
    return {
      questions:[],
      isAddingInput: true,
      quiz: ""
    }
  },
  watch: {
    questions(nexVal, preVal) {
      this.updateQuiz();
    }
  },
  methods:{
    addQuestion(id) {
      this.questions.push(id)
    },
    setIsAddingInput(isOrNot){
      this.isAddingInput = isOrNot
    },
    updateQuiz() {
      if (this.questions.length === 0) {
        return this.quiz="";
      }
      axios.post('/v2/api/quiz_generator', {
        "questions": this.questions
      }).then(r=> this.quiz= r.data )
    },
    saveQuiz() {
      if (this.questions.length === 0) {
        return this.quiz="";
      }
      axios.post('/api/quizzes', {
        "questions": this.questions
      }).then(r=> { window.location.href = `/v2/api/quiz_generator/${r.data.id}`  } )
    }
  },
  created() {
    this.updateQuiz();
  },
  components:{
    InputForm
  }
}
</script>

<style scoped>
.btn-close {
  @apply cursor-pointer rounded-full bg-red-800 h-4 w-4 float-right;
}
</style>