<template>
<div class="w-full h-16 bg-blue-300 flex flex-row justify-start items-center p-4">
  <i class="fas fa-university text-white fa-2x mr-4"></i>
  <a href="/api" class="text-white font-bold"><h2>API & DOC</h2></a>
</div>
</template>

<script>
export default {
name: "app-navbar"
}
</script>

<style scoped>

</style>