<template>
  <div class="app">
    <app-navbar></app-navbar>
    <add-input></add-input>
  </div>
</template>

<script>
import AppNavbar from './app-navbar';
import AddInput from './add-input';
export default {
  name: "app",
  components: {
    AppNavbar,
    AddInput
  }
}
</script>

<style scoped>

</style>