<template>
  <div class="p-4">
    <form @submit="addInput">
      <div class="mt-6 ">
        <label
            class="block text-gray-700 text-sm font-semibold mb-2"
        >
          Whats the question ? (label)
        </label>
        <input
            class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-10"
            id="question"
            type="text"
            placeholder="Your question here"
            v-model="question"
            min="8"
            required
        />
      </div>
      <div class="mt-2">
        <label
            class="block text-gray-700 text-sm font-semibold mb-2"
        >
          Question type
        </label>
        <div class="mt-2">
          <label v-for="selection in ['multiple_choice','single_choice','text']" class="inline-flex items-center">
            <input type="radio" v-model="question_type" class="form-radio opacity-0 w-0 h-0" name="inputType" :value="selection" required>
            <span class="ml-2"><img class="rounded-2xl max-h-36 cursor-pointer mb-2" :src="`/img/${selection}.svg`" alt="" ></span>
          </label>
        </div>
      </div>
      <div v-show="question_type === 'single_choice' || question_type==='multiple_choice'" class="mt-2">
        <label
            class="block text-gray-700 text-sm font-semibold mb-2"
        >
          Question options
        </label>
        <tagify value="example option" :onChage="tagifyInput"></tagify>
      </div>
      <button type="submit" class="p-2 mt-2 bg-blue-400 text-white rounded hover:bg-blue-500 transition duration-300 ease-in-out">
        Add question
      </button>
    </form>
  </div>
</template>

<script>
import Tagify from './tagify';
import axios from 'axios'
export default {
  name: "input-form",
  components:{
    Tagify
  },
  data() {
    return {
      question:'',
      question_type:'',
      question_options:[],
      inputs:[]
    }
  },
  methods: {
    async addInput(e) {
      e.preventDefault();
      // TODO: improve this in a more reactive way
      this.question_options = JSON.parse(document.querySelector('.tagify+input').value).map(e=>e.value);
      console.log(this.question + ' '+ this.question_type + ' ' + this.question_options.join(',') );
      let parameters = {
        label: this.question,
        type: this.question_type,
      }
      if (parameters.type !== 'text') {
        parameters.options = JSON.parse(document.querySelector('.tagify+input').value).map(e=>e.value)
      }
      axios.post('/api/questions', parameters)
          .then(response => {
            this.$emit('question-added',  response.data['@id'] )
          })
          .catch(function (error) {
            console.log(error);
          });
    },
    tagifyInput(v) {
      console.log('event' + v)
      this.question_options = v;
    },
    setQuestionOptions(v) {
      this.question_options = v;
    }
  }
}
</script>

<style scoped>
input[type="radio"]:checked+span img{
  @apply shadow-2xl
}
</style>