<template>
  <textarea v-if="mode === 'textarea'" v-model="value"/>
  <input v-else :value="value"
         class="bg-white rounded">
</template>
<script>
import Tagify from '@yaireo/tagify'
export default {
  name: "tagify",
  props: {
    mode: String,
    settings: Object,
    value: [String, Array],
    onChange: Function
  },
  watch: {
    value(newVal, oldVal) {
      this.tagify.loadOriginalValues(newVal)
    },
  },
  mounted() {
    let tagify = new Tagify(this.$el, this.settings);
  }
}
</script>

<style scoped>
@import '~@yaireo/tagify/dist/tagify.css';
.tagify {
  border: 4px solid #0c5460 !important;
}
</style>